body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Syne Mono", monospace;
  background-color: #7236ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 750px;
  max-width: 1200px;
  display:grid;
  gap: 1rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
  padding: 20px;
}

.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

@media (min-width: 600px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .container { grid-template-columns: repeat(3, 1fr); }
}