body {
  padding-bottom: 20px;
  margin: 0;
  font-family: "Syne Mono", monospace;
  display: flex;
  flex-direction: column;
  background:  rgb(175, 104, 57);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  color:white;
  font-size: calc(18px + 1.5vw);
}

p {
  margin: 0;
}

a {
  color: dodgerblue;
}

.image-container {
  position: relative;
  text-align: center;
}

.gluten-free-text {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
  background-color: #9e6d3d;
  border-radius: 0.25em;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 1.4em;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card {
  background-color: dodgerblue;
  border-radius: 8px;
  color: white;
  padding: 1rem;
  height: 440px;
  width: 300px;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  height: 350px;
  width: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.text {
  display: flex;
  align-items: center;
  height:100%;
}

.footer {
  background: white;
  width: 334px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

@media (min-width: 800px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  h1 {
    font-size: 32px;
  }
}